/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
    
    /* CSS variables */
    :root{
        --navbar-hieght: 59px;
    }
    
    #navbar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0px;
    }
    
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity:-0.1;
    }
    
    #logo{
        margin: 10px 34px;;
    
    }
    
    #logo img{
        margin: 3px 5px;
        height: 60px;
    }
    
    
    #navbar ul{
        display: flex;
        font-family: 'Acme', sans-serif;
    
    }
    
    #navbar ul li{
        list-style: none;
        color:rgb(247, 236, 222);
        font-size: 1.3rem;
    }
    #navbar ul li a{
        color: #1b1717;
        display: block;
        padding: 3px 21px;
        border-radius: 20px;
        text-decoration: none;
        
    }
    
    #navbar ul li a:hover{
        color: black;
        background-color: brown;
        
    }
    #home{
        display: flex;
        flex-direction: column;
        padding: 3px 200px;
        height: 570px;
        justify-content: center;
        align-items: center;
    }
    
    #home::before{
        content: "";
        position: absolute;
        background: url('Bg2.jpg') no-repeat center center/cover;
        height: 100%;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: -1;
        opacity:0.89;
    }
    
    #home h1{
        color: rgb(67 72 72 / 97%);
        text-align: center;
        font-family: 'Acme', sans-serif;
    }
    #home p{
        color: #190d0d;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Acme', sans-serif;
    }

    #home .btn a{
        text-decoration: none;
        color: #190d0d;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Acme', sans-serif;
    }

    #home .btn a:hover{
        
        color: #e6c224;
    }
    
    /* Services Section */
    #services-container{
        position: relative;
        z-index: -1;
    }
    
    #services-container::before{
        content: "";
        position: absolute;
        background: url('images3.jpeg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity:1.89;
    }
    
    #services-container h1{
        color: #3c355a;
    }
    
    
    #services{
        margin: 34px;
        display: flex;
    
    }
    
    
    #services .box{
        border: 2px solid brown;
        padding: 34px;
        margin: 3px 6px;
        border-radius: 28px;
        background: #f1f0e8;
    
    }
    #services .box img{
        height: 160px;
        margin: auto;
        display: block;
    }
    
    #services .box p{
        font-family: 'Acme', sans-serif;
    
    }
    
    /* Utility class */
    .h-primary{
        font-family: 'Acme', sans-serif;
        font-size: 3.8rem;
        padding: 12px;
    }
    
    .h-secondary{
        font-family: 'Acme', sans-serif;
        font-size: 1.5rem;
        padding: 12px;
        
    }
    
    .btn{
        padding: 6px 20px;
        border: 2px solid white;
        background: brown;
        margin: 17px;
        border-radius: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .center{
        text-align: center;
    }
.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #85550c9a;
    border:1px solid #e4bf1b;
}
.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}

i{
    font-size: 20px;
    margin: 0 10px 0 0;
    
}
button{
    background: transparent;
    border: none;
    outline: none;
}
.container, .deals-container{
    margin: 50px 50px 5%;
    width:90%;
    text-align: center;
}
.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 0 0 50px 50px;
    display: inline-block;
}
.categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #184d47;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}
.item-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.title{
    padding: 50px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 50px;
    color: rgb(20, 14, 14);
    background: transparent;
}
.deal{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);

}
.coupon-btn{
    border:1px solid white;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
}
.images{
display: inline-block;
}
.item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}
.description{
    margin:20px;
    min-height :100px;
}
.item-select{
    margin: 10px 0 0 0;
}
.buynow-btn{
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.buynow-btn:hover{
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a;
}
